<!DOCTYPE html>
<!-- -->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Forma para testar a API</h2>
    <form action="/qry" method="POST">
      Usuário  <input name="user"  type="text" /><br />
      Senha    <input name="pwd"   type="password" /><br />
      Consulta <input name="qry" type="text" size="100">
      <input type="submit" value="Login" />
    </form>

    <% if(message) { %>
      <p>
        <label style="color:Red"><%= message %></label>
      </p>
    <%}%>

    <!--
    <p>
      <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
    </p>
  --> 

  </body>
</html>
